name: Build

on:
  push:
    branches: [main]

jobs:
  build-and-push-docker-image:
    name: Build Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      -  uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
      -  name: Build
        run: |
          docker build -t harbor.eclixal.fr/library/strawserv:latest .

      - name: Push To Registry Eclixal
        uses: redhat-actions/push-to-registry@v2
        with:
          image: ${{ steps.buildx.outputs.name }}
          registry: harbor.eclixal.fr
          username: admin
          password: ${{ secrets.REGISTRY_PASSWORD }}


      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
