name: Build

on:
  push:
    branches: [main]

jobs:
  build-and-push-docker-image:
    name: Build Docker image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build image with Dockerfile
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true

      - name: Build
        run: |
          echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV
          echo ${SHORT_SHA}
          docker build -t harbor.eclixal.fr/library/strawserv  .

      - name: Login to Registry Eclixal
        uses: docker/login-action@v2
        with:
          registry: harbor.eclixal.fr
          username: admin
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: harbor.eclixal.fr/library/strawserv:${{ steps.vcs.outputs.commit }}

      - name: Build and push latest
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: harbor.eclixal.fr/library/strawserv:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
